# MySQL
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

# MongoDB
MONGO_HOST=
MONGO_PORT=27017
MONGO_DB=
MONGO_USER=
MONGO_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=0
REDIS_DB=
REDIS_PASSWORD=

# Koreatech Portal
PORTAL_ID=
PORTAL_PW=
PORTAL_IP=

# Gmail
GMAIL_ID=
GMAIL_PW=

# Slack
SLACK_WEBHOOK_URL=

# AWS S3
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_UPLOAD_DOMAIN=

# Batch API
BATCH_EMAIL=
BATCH_PASSWORD=
BATCH_TOKEN_URL=
BATCH_NOTIFICATION_API_URL=
